    @import url(https://fonts.googleapis.com/css?family=Roboto);
    html,
    body {
        margin: 0;
        padding: 0;
    }
    
    body {
        font-family: 'Roboto', sans-serif;
        color: white;
        max-height: 100%;
        background-color: #0d0d0d;
    }
    
    .header {
        padding-top: 5vh;
        max-width: 1200px;
        margin-left: auto;
        margin-right: 5vw;
        text-align: right;
        font-size: 2.8vw;
    }
    
    h1 {
        margin: 0;
        padding: 0;
        margin-bottom: 0;
        padding-bottom: 0;
    }
    
    h5 {
        margin-top: 0;
        padding-tip: 0;
    }
    
   .hoverEffect:hover {
    border: 1px solid #0d0d0d;
    -webkit-transition: border 100ms linear;
    -moz-transition: border 100ms linear;
    
}
.hoverEffect2:hover {
    border: 3px solid #0d0d0d;
}
    
    .textwrapper {
        background: rgba(45, 46, 51, 0.2);
        width: 200px;
        min-height: 40px;
        height: 48px;
        margin: 0;
        padding: 0;
        border-radius: 5px;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
    }
    
    p {
        margin: 0;
        font-size: 100%;
        color: white !important;
        margin-top: 15px;
    }
    
    .box {
        min-height: 150px;
        box-sizing: border-box;
    }
    
    .dark_blue {
        background-color: #2A457A;
        color: #efefef;
        background-image: url("https://lh3.googleusercontent.com/b9epxqJkI9Jqjm72vvL9MnlForJUZTffOeCzl-hNZ4X1t_iyKTAV5CbWfCxAAsezudiCrRXumfldLgct5-sSb9WMOlM7JAGg-WolAPd694xm6tZMLBCFJHb0ghTPBfEvI23iHyiwps6NzhdaehSce-ycbLCwElmt91XOFg_65OAN-birvSAck6t9AfcwFavHfKTfaELCRkBVa0VaOjoNMEB7TR4nN-e0FheV6QiN56onhkOiqgGCKHPk6Hoemi63GeXG32Q0uZTyfSeJh1_0KnKc0y2BW9ZwCFy_L6KyEUbZJOeAu_znIVQKPLYpye9sVKkBSpy8fbVSasWRuQXNwcGouSA2mGGRJwu-22Iy5-Ehi-E6GnHTJRbzi-GMysR_QQ1XSRPfUN5xaSnCOezCy7Le9TeWGHpqK8qqlaWTcwxhkPL0Jw71ctOKShRWN9p_HGrzieQCWyI1BNS9Roz9EQrrJGoAxTiNKeyAMdyFkbvEtPlEplaCpWOOjsrXxi1-RVASrW2jA__nOEizFdO9S1iwHjtFKO8I9tsENyeI0sku9XlTwaB9uUEDTqEXsH130FGMaQ=w956-h538-no");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    
    .light_blue {
        background-color: #099DD9;
        background-image:url("https://lh3.googleusercontent.com/a9rr5BLJnU7fUcr4Md9VRLGXdIhpV-AjvXfxPu2WpOSEnzlsrDqo-1B0vSp2cbshYHyVfFwuRPj9IbYHv6nylFt5G9Fs3TccixFIYfGnL53ZNHSWBtN_zH4OTByfyaOvy-ZSFnBuoLagqmAv9rfmine6N4ZUL_KH-z-dKYpv9p-SYImc3qIDFb85-akNpa1Um8HBXsDjC-TmSTCXo5gwRC66xjNQu-PPH5N6NkV2cDyj5_3hJU2NXooWiHD19Z-3OpXaDlq8tyTP3riuCpuV90NEykDJT_U3EJpSWk3tQyQSc2i6w96uGiaMPeZXMQfTOnQSzvazy6BL3TgJBc4QU5yvYdhPfUtPxVO88sAR46mfoHHMrIt2UcmQxEw1ttERL3UANwqViPavLTpGSCV2gkG4hG8d8CEJ3ot-QqmgH_ManYNL9X45h9Pnkxr2ErsIRGkJtr8_SIcB5gFQLOdeVdbIOPvTQ0enHoSrFYE9R75Sb_nOuFQlOVAN51JKEPDi-g7ZtPJtfzx9bl7Fsrew_pHK7T5LmPAR_bqatb7Ny4jSMcgftpMOrD5gHtyM4ssvZmNf4w=w676-h507-no");
         background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    
    .green {
        background-color: #0C8542;
        background-image:url("https://lh3.googleusercontent.com/F54vr-9CsN1F_Z6zjL9NrHXKjedcdkNTnbNQXeG8xV9YdmEe_d3h-er5M3ZszNLaT1Gf_GFJfEc1owSRa2ap8L0B8IEf6wwfu5tEPmExApG0mJJs-NannKVZa8jfu1y3HXZ_usDnG4lLZ-LK9HumhX99_bq-rgqnr0QwKM3CnrroiCJ_GWIAKn0rGdVXGRxrCUfQxv4mTxTKaQkJYL_jngaY9OlCoqaE9LdNjQ6XK0BpozOEpDrnNWX2pyeiTaWqzSyLg3-TOoJ8Jrcauuj5dm79elqwJW9QSgHu7NEpj353lwuNJzMFB73GC2cKFMtkma5E4P0hqh76i_ALBqgLHuL6jxQJimgejq2qFu9v3FWPo3OrGSGk2FWmQRocX8xStVPtAww924N5dq3_FuMVrCJuLU7SR2t1VCci8fy-84E3cDa2ZL42ubyydKkJaf_UtmBgj-OMUxwBKuriBl-NRURDz18vgpc3IGEK117Xrxczx2VIVvPOS0k3Wz5H0nLxCFGaMoU6JlNlRVCUwm5Q3Bc4AUAfgBKqe_LcIOahLbiL2J6WIIpQhHg3lXsuw6YHH2dFew=w676-h381-no");
         background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    
    .lime {
        background-color: rgb(179, 210, 52);
        background-image:url(" https://lh3.googleusercontent.com/L0ooWEkV7GD2rqcGqJHnKcWqE6GQZ8Qd3CihqRuIBRr07x-s9b6E_vkTcnYTGyawMDbjxsZ1gscFFmCkjC2xe9s4f8wV56RfzZToLJft5rbAi4-uJTy78U276EpGBxmizT0PvPpa-VTBdUlEuxgnrRr9bhTj0zpzXYUIjeV2bSWGAzaMmlVOezkUsVBfifMJxLlSDTRaPfUSjoJ44LRnL4-O-mUMDDdxxW_gJxFC-wRryEUX7MLreNgEz-YbvEpZ6oRH4cs4W6H7nrRmExSLy1cidEzix8kcTst4_4hPc9bAPprafRdqa-IaZz1fUdPkNsZC3cPYwrxw7EJPPXLF2V4f9ybxedqhx4a-pBqeChg5Jx8qu_p0Rnqi4I-5_qDbvHy0dkrf5-00L16xWRGGOtwH_A3u06GooNm8tZ6CS-0kfJwPSgBC_DZDNXMYvF7YJ_iSpQ8ObPuhpRE9g7fKGKvB6UhzImhVUWGcgCBFezCkRF2ncUUg03qagqKWYESJ6p2D1TrQQmTRgvnm9xGLDd0SVc22SpKx-2OaTlznrGOBr_m9CAUaHxUerMKkmOt5TjIPxw=w676-h381-no");
         background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    
    .seafoam {
        background-color: rgb(77, 190, 161);
        background-image:url(" https://lh3.googleusercontent.com/Y6fqzYScAVUWraKtSh7VAGG1WsvPltGZK0TC6AXjMG0U-DfAnxaF-Qavf8a7K5qTZ0tDjN3eiSjoJc8GEaCXyw0fLUN_D5amy8XULrwZe4M__mwdGtNsx43fvaSZ6-O8JEaCU6GVvMZMm6S8uCEZ2MgzF3ZJNvvDjzedf5WL72jH2ww5rfkH9_cUT8xylF2847SG104_suir9rqPv2o8VtsHbgHPves3GapPR3uMMJFvepbwWyk7dD2twComMsyKmV6fVNSBynl8oPs41F8LISNzWKanf9Ctztrdr_vSFT7AAHwX-moD2RAKOlbivfL8vC8LUAbuEcCBUf15nI_CjosJ_yXSN4IZaGFng9VmD0Jiem6NmSiFStW6n6zJ2ZAFMvAuLaDBBNwQMaYTVEgW1iMbx7pgQ0cS_GXfWAYLeYtTTyZzzTJfyVetXLSxIox6s7LVwbkWkHL5r8S-TrxopG9KyFnwR_xL5-T0utlnUZlu1aWSt6BbyaBGNVbl-4ty98qodzP_YUpMiQORZYpikfJMyHAeekEwOP8Md4OnJa2LcRdkEIuMnDihzho5-nvn7wuLIQ=w676-h381-no");
         background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    
    .red {
        background-color: #EC1D3B;
        background-image:url(" https://lh3.googleusercontent.com/OhvnPPTR29u8HbPadxQgCn2adQlc4vWxKvZ2aA0J5Jre6FiwLbHbP2UwkGu-zAmroPYy9aczLHzMGvLGuAm_736oj9yN7fH0K9b_MALcChYV4NOzU0aYczunQqTrW3PqyWXE-dyyCfK9X07hUG2eVl9GRi8f_u0hncHNEU17s-lu1uVBNeW_l8TtOxe1RJthp5CYNP5QHtIqLF_n6ri0ylKg7_NnM8xk8W_GJb01TKQb_7GlTvb027I9aj2AzxTpo4Cp0MOsvUZOeXtibIOpVn1dU90faROqi9quOUUzkW38UgANQhqrnXsfdnOnGNyrPnOoimKN3Y1Kep59Dl9EP1iDVzB0Y8XmMoAgIpicpKc3_ra_tMecIkPPAqdDUst4nCR56IefS706abViE8Dg55Jfspy_lMN-LV_mjdmnjSxwRTR3hQq4NpVuO0-uBHMvgRb6ukibZTGQ4owl12yRWOzHP8LgY1rYW741kq3vWI_2jvM86zNVJaFpjpRyRmwwWTrzJdBu13veoDzh2bq851WOZq3FpKxRldXKUPLxIFg_mpgIRC3ZVKtTpFbin6fkTqJbxg=w676-h381-no");
         background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    
    .orange {
        background-color: #F79420;
        background-image:url(" https://lh3.googleusercontent.com/UpinSjK88_p7pjM1dkrJdq4oMORezBaz2QKwnmmXb4UPY9ipr-lqHrHolcXiYoetilzZv60hFNDJCvxRE34SN_hF2CC_oWEBe3HjA-4_4htPpMx4hbo4UDgz-VvAMZjbzK8PLBE9mUoI-uPz7cKl6qPGI2NBW_S065s7ideOEChff7Knxrat0yWAG473lgSHI5CkKNw5Bbu-4y5cqr5JkgskNfQ4NzD29JXFqZTmCZPCKVy7-_hDA7U4ybnGB9wF7qIBUcv1ePk12DqYSiYgm7GwTUunCYxKIgHO060y-6yJ82_V5byoPvVqIvFaRlbN7Qte_jC7aofFp4aXJntUt2gBp7THhTWWcOsiY5BQlS6UOhe7tKvn-dn49RyX8Hf4j3ypzB6YbhNrQPKRWtCQ7hQENQIVe2o0urLNj_4NY6XrOAqJqESzsJn3fPyKq48MqNLzUYM5SyRB1gPDB3GiakDiaj8Dbw0G6hasX72w3C5LlzJl4gx_SGLJKPFKYENk38-0OQBmsTH2CkzKVKzK4Eh9M0jIgvzO-_xGYlBY69DFGe0xJLBwB5HKNHM67fe6ThSomA=w676-h381-no");
         background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    
    .container {
        display: flex;
        flex-wrap: wrap;
        border-radius: 10px;
    }
    
    .logos {
        font-size: 5vw;
        display: flex;
        flex-wrap: wrap;
        margin-left: auto;
        margin-right: auto;
        color: white;
    }
    
    .logos >a {
        width: 25%;
        text-align: center;
    }
    
    .logos >a> .fa-twitter {
        width: 25%;
        text-align: center;
        color: white;
        text-shadow: 0px 0px 50px #3366ff;
    }
    
    .logos >a > .fa-facebook {
        width: 25%;
        text-align: center;
        color: white;
        text-shadow: 0px 0px 50px #000066;
        border: white;
    }
    
    .logos >a .fa-google-plus {
        width: 25%;
        text-align: center;
        color: white;
        text-shadow: 0px 0px 50px red;
        margin-right: 4vw;
    }
    
    .logos >a > .fa-github {
        width: 25%;
        text-align: center;
        color: white;
        text-shadow: 0px 0px 50px yellow;
    }
    
    .box,
    .fo {
        width: 100%;
        margin: auto;
        margin-top: 3vh;
        margin-bottom: 3vh;
    }
    
    .fo {
        margin-top: 15px;
    }
    
    @media screen and (min-width:450px) {
        .light_blue,
        .green {
            width: 50%;
        }
    }
    
    @media screen and (min-width:550px) {
        .header {
            margin-bottom: 1vh;
        }
        .red {
            width: 33.3333%;
        }
        .orange {
            width: 66.6666%;
        }
        .green {}
        .light_blue {}
        .dark_blue {}
        .box {
            min-height: 220px;
        }
    }
    
    @media screen and (min-width:801px) {
        .header {
            margin-bottom: 1.5vh;
        }
        .container {
            max-width: 1200px;
            margin-left: auto;
            margin-right: auto;
            max-height: 1000px;
        }
        .dark_blue {
            /*max-width: 1200px; */
        }
        .light_blue {
            max-width: 575px;
            margin-left: 0px;
        }
        .green {
            max-width: 575px;
            margin-right: 0px;
        }
        .red {
            max-width: 391.663px;
            margin-left: 0px;
        }
        .orange {
            max-width: 758.3326;
            margin-right: 0px;
        }
        .box {
            min-height: 300px;
        }
        .logos {
            font-size: 10vw;
        }
    }
    /*   @media screen and (min-width:1000px){
        .box {
            margin-bottom: 1vh;
        }
        
    } */
    
    @media screen and (min-width:1150px) {
        .box {
            margin-bottom: 1.5vh;
            border-radius: 5px;
        }
        .container {
            justify-content: space-between;
        }
    }
    
    @media screen and (min-width:1200px) {
        .box {
            margin-bottom: 2.3vh;
        }
    }

.logos >a {
    color: white !important;
}