    @import url(https://fonts.googleapis.com/css?family=Roboto);
    html,
    body {
        margin: 0;
        padding: 0;
    }

    body {
        font-family: 'Roboto', sans-serif;
        color: white;
        max-height: 100%;
        background-color: #0d0d0d;
    }

    .header {
        padding-top: 5vh;
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
        text-align: right;
        font-size: 2.8vw;
    }

    h1 {
        margin: 0;
        padding: 0;
        margin-bottom: 0;
        padding-bottom: 0;
    }

    h5 {
        margin-top: 0;
        padding-tip: 0;
    }


    .title {
        font-size: 2.5em;
        text-align: center;
    }

    .textwrapper {
        background: rgba(45, 46, 51, 0.2);
        width: 200px;
        min-height: 40px;
        height: 48px;
        margin: 5px 0px 0px 5px;
        padding: 0;
        border-radius: 5px;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
    }

    p {
        margin: 0;
        font-size: 100%;
        color: white !important;
        margin-top: 15px;
    }

    .box {
        min-height: 150px;
    }

    .dark_blue {
        background-color: #2A457A;
        color: #efefef;
        background-image: url("https://lh3.googleusercontent.com/b9epxqJkI9Jqjm72vvL9MnlForJUZTffOeCzl-hNZ4X1t_iyKTAV5CbWfCxAAsezudiCrRXumfldLgct5-sSb9WMOlM7JAGg-WolAPd694xm6tZMLBCFJHb0ghTPBfEvI23iHyiwps6NzhdaehSce-ycbLCwElmt91XOFg_65OAN-birvSAck6t9AfcwFavHfKTfaELCRkBVa0VaOjoNMEB7TR4nN-e0FheV6QiN56onhkOiqgGCKHPk6Hoemi63GeXG32Q0uZTyfSeJh1_0KnKc0y2BW9ZwCFy_L6KyEUbZJOeAu_znIVQKPLYpye9sVKkBSpy8fbVSasWRuQXNwcGouSA2mGGRJwu-22Iy5-Ehi-E6GnHTJRbzi-GMysR_QQ1XSRPfUN5xaSnCOezCy7Le9TeWGHpqK8qqlaWTcwxhkPL0Jw71ctOKShRWN9p_HGrzieQCWyI1BNS9Roz9EQrrJGoAxTiNKeyAMdyFkbvEtPlEplaCpWOOjsrXxi1-RVASrW2jA__nOEizFdO9S1iwHjtFKO8I9tsENyeI0sku9XlTwaB9uUEDTqEXsH130FGMaQ=w956-h538-no");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .light_blue {
        background-color: #099DD9;
    }

    .green {
        background-color: #0C8542;
    }

    .lime {
        background-color: rgb(179, 210, 52);
    }

    .seafoam {
        background-color: rgb(77, 190, 161);
    }

    .red {
        background-color: #EC1D3B;
    }

    .orange {
        background-color: #F79420;
    }

    .container {
        display: flex;
        flex-wrap: wrap;
        border-radius: 10px;
    }

    .logos {
        font-size: 5vw;
        display: flex;
        flex-wrap: wrap;
        margin-left: auto;
        margin-right: auto;
        color: white;
    }

    .logos >a {
        width: 25%;
        text-align: center;
    }

    .logos >a> .fa-twitter {
        width: 25%;
        text-align: center;
        color: black;
        text-shadow: 0px 0px 94px white /*#3366ff*/;
    }

    .logos >a > .fa-facebook {
        width: 25%;
        text-align: center;
        color: black;
        text-shadow: 0px 0px 94px white /*#000066*/;
        border: white;
    }

    .logos >a .fa-google-plus {
        width: 25%;
        text-align: center;
        color: black;
        text-shadow: 0px 0px 94px white /*red*/;
    }

    .logos >a > .fa-github {
        width: 25%;
        text-align: center;
        color: black;
        text-shadow: 0px 0px 94px white /*yellow*/;
    }

    .box,
    .fo {
        width: 100%;
        margin: auto;
    }

    .fo {
        margin-top: 15px;
    }

    @media screen and (min-width:450px) {
        .light_blue,
        .green {
            width: 50%;
        }
    }

    @media screen and (min-width:550px) {
        .header {
            margin-bottom: 1vh;
        }
        .red {
            width: 33.3333%;
        }
        .orange {
            width: 66.6666%;
        }
        .green {}
        .light_blue {}
        .dark_blue {}
        .box {
            min-height: 220px;
        }
    }

    @media screen and (min-width:801px) {
        .header {
            margin-bottom: 1.5vh;
        }
        .container {
            max-width: 1200px;
            margin-left: auto;
            margin-right: auto;
            max-height: 1000px;
        }
        .dark_blue {
            /*max-width: 1200px; */
        }
        .light_blue {
            max-width: 575px;
            margin-left: 0px;
        }
        .green {
            max-width: 575px;
            margin-right: 0px;
        }
        .red {
            max-width: 391.663px;
            margin-left: 0px;
        }
        .orange {
            max-width: 758.3326;
            margin-right: 0px;
        }
        .box {
            min-height: 300px;
        }
        .logos {
            font-size: 10vw;
        }
    }
    /*   @media screen and (min-width:1000px){
        .box {
            margin-bottom: 1vh;
        }

    } */

    @media screen and (min-width:1150px) {
        .box {
            margin-bottom: 1.5vh;
            border-radius: 5px;
        }
        .container {
            justify-content: space-between;
        }
    }

    @media screen and (min-width:1200px) {
        .box {
            margin-bottom: 2.3vh;
        }
    }
    


/*
.hoverEffect:hover {

     border: 2px solid white;
    -webkit-transition: border 300ms linear;
    -moz-transition: border 300ms linear;
    -o-transition: border 300ms linear;
    -ms-transition: border 300ms linear;
    transition: border 300ms linear;

    }
*/
   /*  .hoverEffectSelect {
    border 5px solid white;
    }
    .hoverEffectSelect {
        border 2px solid white;
    }
    */