    @import url(https://fonts.googleapis.com/css?family=Roboto);
    html,
    body {
        margin: 0;
        padding: 0;
    }
    
    body {
        font-family: 'Roboto', sans-serif;
        color: white;
        max-height: 100%;
        background-color: #0d0d0d;
    }
    
    .header {
        padding-top: 5vh;
        max-width: 1200px;
        margin-left: auto;
        margin-right: 5vw;
        text-align: right;
        font-size: 2.8vw;
        margin-right: 5vw;
    }
    
    h1 {
        margin: 0;
        padding: 0;
        margin-bottom: 0;
        padding-bottom: 0;
    }
    
    h5 {
        margin-top: 0;
    }
    
    .title {
        font-size: 2.5em;
        text-align: center;
    }
    
    .hoverEffect:hover {
        border: 1px solid #0d0d0d;
        -webkit-transition: border 100ms linear;
        -moz-transition: border 100ms linear;
    }
    
    .hoverEffect2:hover {
        border: 3px solid #0d0d0d;
    }
    
    .textwrapper {
        background: rgba(45, 46, 51, 0.2);
        width: 200px;
        min-height: 40px;
        height: 48px;
        margin: 5px 0px 0px 5px;
        padding: 0;
        border-radius: 5px;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
    }
    
    p {
        margin: 0;
        font-size: 100%;
        color: white !important;
        margin-top: 15px;
    }
    
    .box {
        min-height: 150px;
        box-sizing: border-box;
        border-radius: 5px;
        border: .5px solid #0d0d0d;
    }
    
    .dark_blue {
        background-color: #2A457A;
        color: #efefef;
        background-image: url("../dist/images/eagle-1200.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .dark_blue  img {
        width: 100%;
    }

    .light_blue {
        background-color: #099DD9;
        background-image: url("../dist/images/doll-1200.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    
    .green {
        background-color: #0C8542;
        background-image: url("../dist/images/butterfly-1200.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    
    .lime {
        background-color: rgb(179, 210, 52);
        background-image: url("../dist/images/swinghat-1200.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    /*
    .seafoam {
        background-color: rgb(77, 190, 161);
        background-image: url(" /dist/images/hanging-1200.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    */
    .red {
        background-color: #EC1D3B;
        background-image: url("../dist/images/swinghat-1200.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    
    .orange {
        background-color: #F79420;
        background-image: url("../dist/images/hanging-1200.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    
    .container {
        display: flex;
        flex-wrap: wrap;
        border-radius: 10px;
    }
    
    .logos {
        font-size: 5vw;
        display: flex;
        flex-wrap: wrap;
        margin-left: auto;
        margin-right: auto;
        color: white;
    }
    
    .logos >a {
        width: 25%;
        text-align: center;
    }
    
    .logos >a> .fa-twitter {
        width: 25%;
        text-align: center;
        color: white;
        text-shadow: 0px 0px 45px #3366ff;
    }
    
    .logos >a > .fa-facebook {
        width: 25%;
        text-align: center;
        color: white;
        text-shadow: 0px 0px 45px #4fc6e5;
    }
    
    .logos >a .fa-google-plus {
        width: 25%;
        text-align: center;
        color: white;
        text-shadow: 0px 0px 45px red;
        margin-right: 3vw;
    }
    
    .logos >a > .fa-github {
        width: 25%;
        text-align: center;
        color: white;
        text-shadow: 0px 0px 50px yellow;
        color: white;
        text-shadow: 0px 0px 45px yellow;
    }
    
    .box,
    .fo {
        width: 100%;
        margin: auto;
       /* margin-top: 3vh;
        margin-bottom: 3vh; */
    }
    
    .fo {
        margin-top: 15px;
        margin-top: 4vh;
        margin-bottom: 4vh;
    }
    
    @media screen and (min-width:450px) {
        .light_blue,
        .green {
            width: 50%;
        }
    }
    
    @media screen and (min-width:550px) {
        .header {
            margin-bottom: 1vh;
        }
        .red {
            width: 33.3333%;
        }
        .orange {
            width: 66.6666%;
        }
        .green {}
        .light_blue {}
        .dark_blue {}
        .box {
            min-height: 220px;
        }
    }
    
    @media screen and (min-width:801px) {
        .header {
            margin-bottom: 1.5vh;
        }
        .container {
            max-width: 1200px;
            margin-left: auto;
            margin-right: auto;
            max-height: 1000px;
        }
        .dark_blue {
            /*max-width: 1200px; */
        }
        .light_blue {
            max-width: 575px;
            margin-left: 0px;
        }
        .green {
            max-width: 575px;
            margin-right: 0px;
        }
        .red {
            max-width: 391.663px;
            margin-left: 0px;
        }
        .orange {
            max-width: 758.3326;
            margin-right: 0px;
        }
        .box {
            min-height: 300px;
        }
        .logos {
            font-size: 10vw;
        }
    }
    /*   @media screen and (min-width:1000px){
        .box {
            margin-bottom: 1vh;
        }

    } */
    
    @media screen and (min-width:1150px) {
        .box {
            margin-bottom: 1.5vh;
            border-radius: 5px;
        }
        .container {
            justify-content: space-between;
        }
    }
    
    @media screen and (min-width:1200px) {
        .box {
            margin-bottom: 2.3vh;
        }
    }
    
    .hoverEffect:hover {
        border: 3px solid #0d0d0d;
        -webkit-transition: border 50ms linear;
        -moz-transition: border 50ms linear;
        -o-transition: border 50ms linear;
        -ms-transition: border 50ms linear;
        transition: border 50ms linear;
    }
    
    .hoverEffect2:hover {
        border: 3px solid #0d0d0d;
        -webkit-transition: border 50ms linear;
        -moz-transition: border 50ms linear;
        -o-transition: border 50ms linear;
        -ms-transition: border 50ms linear;
        transition: border 50ms linear;
    }